<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Wifi hotspots in New York</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <style type="text/css">
  th .popover-content { font-weight: normal; }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">
          Using <a href="https://github.com/hopsoft/goldmine">Goldmine</a> to help visualize data
        </h1>
        <p class="lead">
          Accelerate your ability to extract valuable data from lists of objects.
          <i><small>Think of it as Ruby's <code>Enumerable#group_by</code> on steroids.</small></i>
        </p>
        <hr />
        <div class="alert alert-warning">
          <strong>Note:</strong>
          This example manages all concerns in just 2 files.
          A formal project would lend itself to a more elegant solution.
        </div>
        <p>
          We use New York wifi hotspot data from <a href="https://nycopendata.socrata.com/data">NYC Open Data</a>
          to illustrate just how simple it can be to extract meaning from a dataset.
          Checkout the <a href="https://github.com/hopsoft/goldmine/tree/master/example">project source</a>
          to learn how this page was created.
        </p>
        <ul>
          <li>
            <a href="https://github.com/hopsoft/goldmine/blob/master/example/DOITT_WIFI_HOTSPOT_01_13SEPT2010.csv">Data</a>
            <span class="text-muted">- a CSV file that serves as the source data</span>
          </li>
          <li>
            <a href="https://github.com/hopsoft/goldmine/blob/master/example/run.rb">Ruby</a>
            <span class="text-muted">- extracts info from the data &amp; renders it to HTML</span>
          </li>
          <li>
            <a href="https://github.com/hopsoft/goldmine/blob/master/example/index.html.erb">HTML</a>
            <span class="text-muted">- the HTML template used for rendering the page</span>
          </li>
        </ul>
        <p>
          <em>
            Of course, we are using a few libs to make life easy.
            Namely <a href="http://jquery.com/">JQuery</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, &amp;
            <a href="https://developers.google.com/chart/">Google Chart</a>
          </em>
        </p>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Paid wifi in New York</h3>
          </div>
          <div class="panel-body">
            <div id="chart-paid"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Free wifi in New York (libraries)</h3>
          </div>
          <div class="panel-body">
            <div id="chart-library"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Free wifi in New York (non-libraries)</h3>
          </div>
          <div class="panel-body">
            <div id="chart-non-library"></div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
            <% columns.each do |column| %>
              <th><%= send "#{column}_header" %></th>
            <% end %>
            </tr>
          </thead>
          <tbody>
          <% mined_data.each do |record| %>
            <tr>
            <% columns.each do |column| %>
              <td><%= send column, record %></td>
            <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    function renderChart(id, data) {
      google.setOnLoadCallback(function () {
        var chart = new google.visualization.PieChart(document.getElementById(id));
        chart.draw(google.visualization.arrayToDataTable(data), {
          is3D: true,
        });
      });
    }

    google.load("visualization", "1", {packages:["corechart"]});

    var paid = <%= aggregate(:city, paid).to_json %>;
    paid.unshift(["City", "Free Wifi Hotspots"]);
    renderChart("chart-paid", paid);

    var library = <%= aggregate(:city, free_libraries).to_json %>;
    library.unshift(["City", "Free Wifi Hotspots"]);
    renderChart("chart-library", library);

    var nonLibrary = <%= aggregate(:city, free_non_libraries).to_json %>;
    nonLibrary.unshift(["City", "Free Wifi Hotspots"]);
    renderChart("chart-non-library", nonLibrary);

    $("[data-toggle='popover']").popover("show");
  </script>
</body>
</html>
